network.scgi.open_local = /data/scgi.socket
encoding.add = UTF-8
network.port_range.set = 55000-55000
network.port_random.set = no
pieces.hash.on_completion.set = no
directory.default.set = /data/torrents
session.path.set = /data/.session
protocol.encryption.set = allow_incoming, try_outgoing, enable_retry
trackers.use_udp.set = no
dht.mode.set = off
protocol.pex.set = no
system.file.max_size.set = 2048G

throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
throttle.max_downloads.global.set = 256
throttle.max_uploads.global.set = 256
throttle.min_peers.normal.set = 8
throttle.max_peers.normal.set = 32
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
throttle.max_downloads.set = 32
throttle.max_uploads.set = 16
trackers.numwant.set = 8
pieces.memory.max.set = 256M

network.max_open_sockets.set = 1024
network.max_open_files.set = 5120
network.http.max_open.set = 8
network.receive_buffer.size.set = 4M
network.send_buffer.size.set = 12M
pieces.preload.type.set = 2
network.xmlrpc.size_limit.set = 2M

schedule2 = session_save, 1200, 43200, ((session.save))
schedule2 = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",/data/scgi.socket"
schedule2 = watch_directory,0,5,"load.start=/data/.watch/*.torrent,\"d.custom.set=incomplete,1\""
schedule2 = untied_directory,5,5,"stop_untied=/data/.watch/*.torrent"
schedule2 = espace_disque_insuffisant,1,30,close_low_diskspace=500M

execute2 = {sh,-c,/usr/bin/php /var/www/rutorrent/php/initplugins.php torrent &}
