scgi_port = 127.0.0.1:5000
encoding_list = UTF-8
port_range = 55000-55000
port_random = no
check_hash = no
directory = /download/torrents
session = /download/.session
encryption = allow_incoming, try_outgoing, enable_retry
use_udp_trackers = yes
dht = off
peer_exchange = no

execute = {sh,-c,/usr/bin/php /var/www/rutorrent/php/initplugins.php torrent &}
schedule = watch_directory,1,1,"load_start=/download/.watch/*.torrent"
schedule = untied_directory,5,5,"stop_untied=/download/.watch/*.torrent"
schedule = espace_disque_insuffisant,1,30,close_low_diskspace=500M
